.bevBanner {
    color: white;
    background-color: #1e3932;
    height: 500px;
}
.bevText {
    text-decoration: none;
    text-align: center;
    list-style: none;
    position: absolute;
    right: 50px;
    justify-content: space-around;
    list-style: none;
    margin: 150px;
}
.header1{
    font-weight: 800;
    font-size: 38px;
    letter-spacing: 3px;
    margin: 20px;
    text-transform: uppercase;
}
.header2{
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px;
}
.sbutton{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid;
    border-radius: 20px;
    border-color: white;
    padding: 7px;
    cursor: pointer;
    letter-spacing: 1px;
}
.bevPNG{
    position: absolute;
    height: 450px;
    left: 100px;
    justify-content: space-around;
}